:root{
    --my-green: rgb(1,150,136);
    --my-gray: rgb(209,209,209);
    --my-light-blue: rgb(142,218,251);
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(var(--my-green) 120px, var(--my-gray) 120px)    
}


.debug{ /* Todo classe per debug iniziale */
    border: 1px dashed red;
}

main{
    height: 90vh;
}

.circle{ /* cerchio */
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.my-light-gray{ /* grigio chiaro per le icone */
    color: var(--my-gray);
}

.my-light-blue{ /* azzurro per la campanella di notifica */
    color: var(--my-light-blue);
}
.my-bg-light-blue{
    background-color: var(--my-light-blue);
}

.my-h-75{ /* altezza riutilizzata */
    height: 75px;
}